node_modules
image-source
src/pages/images
static

# Output
.output
.vercel
.svelte-kit
build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.obsidian
.obsidian/*

*.psd

