<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content">
        {{ template "menu" . }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "docs/banner" . }}

      {{ partial "docs/inject/content-before" . }}

      <h1 style="font-family: Apalu; font-size: 7em; font-weight: 400; color:#44c0c9; margin:0; padding-top: 0em; margin-top: 0.5em; margin-bottom: -0.2em;">~ Welcome ~</h1>
      <hr style="border: 1px solid #44c0c9;">
      <h2>Characters</h2>

      {{ if .Params.cards }}
      <div class="card-container">
        {{ range .Params.cards }}
        <div class="card">
          <div class="img-hover-zoom img-hover-zoom--quick-zoom">
            <a href="{{ .link }}"><img src="{{ .image }}" alt="{{ .title }}"></a>
            {{ if .newRelease }}
              <div class="new-release">New Release!</div>
            {{ end }}
            {{ if .newUpdate }}
              <div class="new-update">New Update!</div>
            {{ end }}
          </div>
          <div class="card-info">
            <h4><b>{{ .title }}</b></h4>
            <p class="card-links">
              <a href="{{ .ue }}"><img src="img/ue-logo-white.svg" width="30" height="30" alt="ue-logo"></a>
            </p>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
      
      <p>&nbsp;</p>
      <p>&nbsp;</p>

      {{ template "main" . }} <!-- Page Content -->

      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <aside class="book-toc">
      <div class="book-toc-content">
        {{ template "toc" . }} <!-- Table of Contents -->
      </div>
    </aside>
    {{ end }}
  </main>

  {{ partial "docs/inject/body" . }}
</body>
</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
